/*
Main red color: #FF463C
Red accent color: #ffc1be
Text color: black

Font: Raleway
*/

* {
    margin: 0px;
    padding: 0px; 
    
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    color: #FFFFFF;
    background-color: #FF463C;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    z-index: 1;
}

header h1 a {
    font-size: 200%;
    float: left;
    padding: 25px 20px;
    color: #FFFFFF;
    text-decoration: none;
}

nav li, nav a {
    display: inline-block;
}

nav ul {
    float: right;
}

nav a {
    text-decoration: none;
    padding: 25px 20px;
    color: #FFFFFF;
}

nav a:hover {
    color: #ffc1be;
} 

nav li {
    padding: 10px 0px;
}

.hero-img {
    background-image: url(original-images/hero.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover; 
    background-attachment: fixed;
}

.hero-img h2 {
    position: absolute;
    top: 30%;
    left: 10%;
    color: #FFFFFF;
    font-size: 300%;
}

.hero-img p {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #FFFFFF;
}

.text-block {
    margin: 50px auto;
    max-width: 1200px;
    width: 90%;
    line-height: 150%;  
    text-align: justify;
}

.img-gallery {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.img-gallery img {
    width: 22%;
    opacity: .9;
    transition: 1s;
}

.img-gallery img:hover {
    opacity: 1;
}

.season {
    height: 500px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 40px 0;
}

#summer {
     background-image: linear-gradient(rgba(218, 210, 248, 0.6), rgba(218, 210, 248, 0.6)), url(original-images/summer-season.jpg);
}

#winter {
    background-image: linear-gradient(rgba(218, 210, 248, 0.6), rgba(218, 210, 248, 0.6)), url(original-images/winter-season.jpg);
}

.season h2 {
    color: #FFFFFF;
    text-align: center;
    font-size: 300%;
    padding-top: 200px;
}

footer {
    color: #FFFFFF;
    background-color: #FF463C;
    padding: 25px 20px;
}

.animated.pulse {
    animation-iteration-count: infinite;
}

.animated.bounceInLeft {
    animation-delay: 4s;
    animation-duration: 10s;
}

